{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
    <h1 align="center">Password Generator</h1>
    <p align="center">Click button below to generate password</p>
    <ul class="list-group list-group-flush" id="passwords">
        {% for password in user.passwords %}
        <li class="list-group-item">{{ password.generatedPassword }}</li>
        {% endfor %} 
     </ul>
    <form method="POST">
        <br />
        <div align="center">
            <button type="submit" class="btn btn-primary">Generate Password</button>
        </div>
    </form> 
{% endblock %}